<div class="panel panel-primary" style="border-color: #e8e8e8">
  <div class="panel-heading">Thể loại sách</div>
    <ul class="panel-body">
      <% @categories.each do |category| %>
        <li style="margin-bottom: 10px; list-style-type: none" id="edit_category_<%= category.id %>">
          <%= link_to category, style: "text-decoration: none" do %>
            <span class="glyphicon glyphicon-record"
              style="margin-right: 6px"></span>
            <%= category.name %>
          <% end %>
          <% if (current_user.present? && current_user.role_id == 3) %>
            <%= link_to category, method: :delete, data: {confirm: "Are you sure?",
              remote: true}, class: "delete" do %>
              <i class="far fa-trash-alt" style="font-size: 18px; color: #337ab7;
                float: right; margin-left: 8px"></i>
            <% end %>
            <%= link_to edit_category_path(category), remote: true do %>
              <i class="far fa-edit" style="font-size: 18px; color: #337ab7;
                float: right"></i>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
