<div class="row">
  <div class="col-sm-9 col-md-9 col-lg-9">
    <div class="panel panel-primary" style="border-color: #e8e8e8">
      <div class="panel-body">
        <div class="row" style="margin-bottom: 12px">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <% if @book.image? %>
              <%= image_tag(@book.image.url, class: "img-rounded", style: "width:100%; height: 100%; border: 1px solid #e8e8e8") %>
            <% else %>
              <%= image_tag("dam_bi_ghet.jpg", class: "img-rounded", style: "width:100%; height: 100%; border: 1px solid #e8e8e8",
                alt: "Book image") %>
            <% end %>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8" >
            <%= link_to @book.name, "#", class: "text-primary", style: "font-size: 20px;" %>
            <br><br>
            <div id="like_status">
              <% if (logged_in? && liked(@book, current_user)) %>
                <%= render "dislike", current_user: current_user, book: @book,
                  count_like: @count_like %>
              <% elsif (logged_in? && !liked(@book, current_user)) %>
                <%= render "like", current_user: current_user, book: @book,
                  count_like: @count_like %>
              <% else %>
                <%= link_to root_path, class: "btn btn-primary" do %>
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                  Thích <%= @count_like %>
                <% end %>
              <% end %>
            </div>
            <br><br>
            <p>Tác giả:
              <% @feed_authors.each_with_index do |author, index| %>
                <% if index == 0 %>
                  <%= author.name %>
                <% else %>
                  - <%= author.name %>
                <% end %>
              <% end %>
            </p>
            <p>Thể loại:
              <%= link_to @category.name, @category %>
            </p>
            <p>Người đăng:
              <%= link_to @user.name, @user %>
            </p><br>
            <p class="alert alert-info"><%= @book.description %></p>
          </div>
        </div>
        <hr>
        <div>
          <h4>Danh sách chương</h4>
          <% if current_user.present? && (current_user.id == @book.user_id ||
            current_user.role_id == 2 || current_user.role_id == 3) %>
            <%= link_to new_category_book_chapter_path(@category, @book, @chapter),
              remote: true, class: "btn btn-primary", style:"float: right;
              position: relative; bottom: 35px" do %>
              <span class="glyphicon glyphicon-plus"></span>
              Thêm chapter
            <% end %>
          <% end %>
        </div>
        <hr>
        <div class="add_chapter"></div><br>
        <div style="list-style-type: none" class="all_chapters">
          <% @feed_chapters.each_with_index do |chapter, index| %>
            <% if index == 0 %>
              <li id="edit_chapter_<%= chapter.id %>">
                <%= link_to "Chương 1: " + chapter.name,
                  [chapter.book.category, chapter.book, chapter] %>
                <% if current_user.present? && (current_user.id == @book.user_id ||
                  current_user.role_id == 2 || current_user.role_id == 3) %>
                  <%= link_to category_book_chapter_path(chapter.book.category, chapter.book, chapter), method: :delete, data: {confirm: "Are you sure?", remote: true}, class: "delete" do %>
                    <i class="far fa-trash-alt" style="font-size: 18px; color: #337ab7;
                      float: right; position: relative; left: -30px"></i>
                  <% end %>
                  <%= link_to edit_category_book_chapter_path(chapter.book.category, chapter.book, chapter), remote: true do %>
                    <i class="far fa-edit" style="font-size: 18px; color: #337ab7;
                      float: right; position: relative; left: -40px"></i>
                  <% end %>
                <% end %>
              </li>
            <% else %>
              <hr id="hr_chapter_<%= chapter.id %>"><li id="edit_chapter_<%= chapter.id %>">
                <%= link_to "Chương #{index + 1}: " + chapter.name,
                  [chapter.book.category, chapter.book, chapter] %>
                <% if current_user.present? && (current_user.id == @book.user_id ||
                  current_user.role_id == 2 || current_user.role_id == 3) %>
                  <%= link_to category_book_chapter_path(chapter.book.category, chapter.book, chapter), method: :delete, data: {confirm: "Are you sure?", remote: true}, class: "delete" do %>
                    <i class="far fa-trash-alt" style="font-size: 18px; color: #337ab7;
                      float: right; position: relative; left: -30px"></i>
                  <% end %>
                  <%= link_to edit_category_book_chapter_path(chapter.book.category, chapter.book, chapter), remote: true do %>
                    <i class="far fa-edit" style="font-size: 18px; color: #337ab7;
                      float: right; position: relative; left: -40px"></i>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel panel-primary" style="border-color: #e8e8e8">
      <div class="panel-heading">Bình luận</div>
      <div class="panel-body">
        <strong id="count_comment"><%= @feed_comments.count %> bình luận</strong>
        <hr>
        <% if logged_in? %>
          <div class="media">
            <div class="media-left">
              <%= image_tag("pf_image.jpg", style: "width: 60px; height: 60px",
                alt: "Image User") %>
            </div>
            <div class="media-body" id="comment_form">
              <%= render "comments/comment_form", category: @category, book: @book,
                comment: @book.comments.build %>
            </div>
          </div>
        <% end %>
        <br><br>
        <div id="feed_comment">
          <%= render @feed_comments %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <% if current_user.present? && (current_user.role_id == 3) %>
      <div id="new_category">
        <%= link_to new_category_path, remote: true, class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-plus"></span>
          Thêm thể loại
        <% end %>
      </div>
    <% end %>
    <% if current_user.present? && (current_user.role_id == 3 || current_user.role_id == 2) %>
      <div id="new_book" style="margin-bottom: 25px">
        <%= link_to new_book_path, class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-plus"></span>
          Thêm sách
        <% end %>
      </div>
    <% end %>
    <div id="all_categories">
      <%= render "shared/list_category", categories: @categories %>
    </div>
  </div>
</div>
