<div class="panel panel-primary" style="border-color: #e8e8e8;
  margin-bottom: 60px" id="category_<%= category.id %>">
  <div class="panel-heading"><%= category.name %></div>
  <div class="panel-body">
    <% category.books.published.order_by_time.paginate(page: params[:page], per_page: 8).each do |book| %>
      <% if (@count_book % 4) == 1 %>
          <div class="row" style="margin-bottom: 30px">
            <div class="col-sm-3 col-md-3 col-lg-3" id="book_<%= book.id %>">
              <%= link_to [book.category, book], class: "thumbnail", style: "border: none" do %>
                <% if book.image? %>
                 <%= image_tag(book.image.url, style: "width:100%") %>
                <% else %>
                  <%= image_tag("dam_bi_ghet.jpg", style: "width:100%",
                    alt: "Book image") %>
                <% end %>
                <div class="caption text-center">
                  <p><%= book.name %></p>
                </div>
              <% end %>
              <% if current_user.present? %>
                <% if current_user.id == book.user.id %>
                  <div class="text-center">
                    <%= link_to edit_book_path(book), remote: true do %>
                      <i class="far fa-edit" style="font-size: 18px;
                        color: #337ab7"></i>
                    <% end %>
                    <%= link_to book, method: :delete, data: {confirm: "Are you sure?", remote: true}, class: "delete" do %>
                      <i class="far fa-trash-alt" style="font-size: 18px;
                        color: #337ab7; margin-left: 8px"></i>
                    <% end %>
                  </div>
                <% else %>
                <div id="div_book_<%= book.id %>">
                  <% notification = Notification.where(used_send: current_user.id,
                    activity_type: "delete_book", activity_id: book.id).first %>
                  <% if current_user.role_id == 3 %>
                    <% if notification.present? %>
                      <div class="text-center">
                        <%= link_to admin_book_path(book), method: :put,
                          remote: true do %>
                          <i class="fa fa-spinner fa-spin" style="font-size: 18px;
                            color: #337ab7"></i>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="text-center">
                        <%= link_to admin_book_path(book), method: :put,
                          remote: true do %>
                          <i class="far fa-trash-alt" style="font-size: 18px;
                            color: #337ab7"></i>
                        <% end %>
                      </div>
                    <% end %>
                  <% else %>
                    <% if current_user.role_id > book.user.role_id %>
                      <% if notification.present? %>
                        <div class="text-center">
                          <%= link_to admin_book_path(book), method: :put,
                            remote: true do %>
                            <i class="fa fa-spinner fa-spin" style="font-size: 18px;
                              color: #337ab7"></i>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="text-center">
                          <%= link_to admin_book_path(book), method: :put,
                            remote: true do %>
                            <i class="far fa-trash-alt" style="font-size: 18px;
                              color: #337ab7"></i>
                            <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <% end %>
              <% end %>
            </div>
          <% if @count_book == (category.books.published.count - 8*(params[:page].to_i - 1)) %>
            </div>
          <% end %>
      <% elsif (@count_book % 4) == 2 %>
        <div class="col-sm-3 col-md-3 col-lg-3" id="book_<%= book.id %>">
          <%= link_to [book.category, book], class: "thumbnail", style: "border: none" do %>
            <% if book.image? %>
             <%= image_tag(book.image.url, style: "width:100%") %>
            <% else %>
              <%= image_tag("dam_bi_ghet.jpg", style: "width:100%",
                alt: "Book image") %>
            <% end %>
            <div class="caption text-center">
              <p><%= book.name %></p>
            </div>
          <% end %>
          <% if current_user.present? %>
                <% if current_user.id == book.user.id %>
                  <div class="text-center">
                    <%= link_to edit_book_path(book), remote: true do %>
                      <i class="far fa-edit" style="font-size: 18px;
                        color: #337ab7"></i>
                    <% end %>
                    <%= link_to book, method: :delete, data: {confirm: "Are you sure?", remote: true}, class: "delete" do %>
                      <i class="far fa-trash-alt" style="font-size: 18px;
                        color: #337ab7; margin-left: 8px"></i>
                    <% end %>
                  </div>
                <% else %>
                <div id="div_book_<%= book.id %>">
                  <% notification = Notification.where(used_send: current_user.id,
                    activity_type: "delete_book", activity_id: book.id).first %>
                  <% if current_user.role_id == 3 %>
                    <% if notification.present? %>
                      <div class="text-center">
                        <%= link_to admin_book_path(book), method: :put,
                          remote: true do %>
                          <i class="fa fa-spinner fa-spin" style="font-size: 18px;
                            color: #337ab7"></i>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="text-center">
                        <%= link_to admin_book_path(book), method: :put,
                          remote: true do %>
                          <i class="far fa-trash-alt" style="font-size: 18px;
                            color: #337ab7"></i>
                        <% end %>
                      </div>
                    <% end %>
                  <% else %>
                    <% if current_user.role_id > book.user.role_id %>
                      <% if notification.present? %>
                        <div class="text-center">
                          <%= link_to admin_book_path(book), method: :put,
                            remote: true do %>
                            <i class="fa fa-spinner fa-spin" style="font-size: 18px;
                              color: #337ab7"></i>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="text-center">
                          <%= link_to admin_book_path(book), method: :put,
                            remote: true do %>
                            <i class="far fa-trash-alt" style="font-size: 18px;
                              color: #337ab7"></i>
                            <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <% end %>
              <% end %>
        </div>
        <% if @count_book == (category.books.published.count - 8*(params[:page].to_i - 1)) %>
          </div>
        <% end %>
      <% elsif (@count_book % 4) == 3 %>
        <div class="col-sm-3 col-md-3 col-lg-3" id="book_<%= book.id %>">
          <%= link_to [book.category, book], class: "thumbnail", style: "border: none" do %>
            <% if book.image? %>
             <%= image_tag(book.image.url, style: "width:100%") %>
            <% else %>
              <%= image_tag("dam_bi_ghet.jpg", style: "width:100%",
                alt: "Book image") %>
            <% end %>
            <div class="caption text-center">
              <p><%= book.name %></p>
            </div>
          <% end %>
          <% if current_user.present? %>
                <% if current_user.id == book.user.id %>
                  <div class="text-center">
                    <%= link_to edit_book_path(book), remote: true do %>
                      <i class="far fa-edit" style="font-size: 18px;
                        color: #337ab7"></i>
                    <% end %>
                    <%= link_to book, method: :delete, data: {confirm: "Are you sure?", remote: true}, class: "delete" do %>
                      <i class="far fa-trash-alt" style="font-size: 18px;
                        color: #337ab7; margin-left: 8px"></i>
                    <% end %>
                  </div>
                <% else %>
                <div id="div_book_<%= book.id %>">
                  <% notification = Notification.where(used_send: current_user.id,
                    activity_type: "delete_book", activity_id: book.id).first %>
                  <% if current_user.role_id == 3 %>
                    <% if notification.present? %>
                      <div class="text-center">
                        <%= link_to admin_book_path(book), method: :put,
                          remote: true do %>
                          <i class="fa fa-spinner fa-spin" style="font-size: 18px;
                            color: #337ab7"></i>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="text-center">
                        <%= link_to admin_book_path(book), method: :put,
                          remote: true do %>
                          <i class="far fa-trash-alt" style="font-size: 18px;
                            color: #337ab7"></i>
                        <% end %>
                      </div>
                    <% end %>
                  <% else %>
                    <% if current_user.role_id > book.user.role_id %>
                      <% if notification.present? %>
                        <div class="text-center">
                          <%= link_to admin_book_path(book), method: :put,
                            remote: true do %>
                            <i class="fa fa-spinner fa-spin" style="font-size: 18px;
                              color: #337ab7"></i>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="text-center">
                          <%= link_to admin_book_path(book), method: :put,
                            remote: true do %>
                            <i class="far fa-trash-alt" style="font-size: 18px;
                              color: #337ab7"></i>
                            <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <% end %>
              <% end %>
        </div>
        <% if @count_book == (category.books.published.count - 8*(params[:page].to_i - 1)) %>
          </div>
        <% end %>
      <% else %>
          <div class="col-sm-3 col-md-3 col-lg-3" id="book_<%= book.id %>">
            <%= link_to [book.category, book], class: "thumbnail", style: "border: none" do %>
            <% if book.image? %>
             <%= image_tag(book.image.url, style: "width:100%") %>
            <% else %>
              <%= image_tag("dam_bi_ghet.jpg", style: "width:100%",
                alt: "Book image") %>
            <% end %>
            <div class="caption text-center">
              <p><%= book.name %></p>
            </div>
            <% end %>
            <% if current_user.present? %>
                <% if current_user.id == book.user.id %>
                  <div class="text-center">
                    <%= link_to edit_book_path(book), remote: true do %>
                      <i class="far fa-edit" style="font-size: 18px;
                        color: #337ab7"></i>
                    <% end %>
                    <%= link_to book, method: :delete, data: {confirm: "Are you sure?", remote: true}, class: "delete" do %>
                      <i class="far fa-trash-alt" style="font-size: 18px;
                        color: #337ab7; margin-left: 8px"></i>
                    <% end %>
                  </div>
                <% else %>
                <div id="div_book_<%= book.id %>">
                  <% notification = Notification.where(used_send: current_user.id,
                    activity_type: "delete_book", activity_id: book.id).first %>
                  <% if current_user.role_id == 3 %>
                    <% if notification.present? %>
                      <div class="text-center">
                        <%= link_to admin_book_path(book), method: :put,
                          remote: true do %>
                          <i class="fa fa-spinner fa-spin" style="font-size: 18px;
                            color: #337ab7"></i>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="text-center">
                        <%= link_to admin_book_path(book), method: :put,
                          remote: true do %>
                          <i class="far fa-trash-alt" style="font-size: 18px;
                            color: #337ab7"></i>
                        <% end %>
                      </div>
                    <% end %>
                  <% else %>
                    <% if current_user.role_id > book.user.role_id %>
                      <% if notification.present? %>
                        <div class="text-center">
                          <%= link_to admin_book_path(book), method: :put,
                            remote: true do %>
                            <i class="fa fa-spinner fa-spin" style="font-size: 18px;
                              color: #337ab7"></i>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="text-center">
                          <%= link_to admin_book_path(book), method: :put,
                            remote: true do %>
                            <i class="far fa-trash-alt" style="font-size: 18px;
                              color: #337ab7"></i>
                            <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <% end %>
              <% end %>
          </div>
        </div>
      <% end %>
      <% @count_book += 1 %>
    <% end %>
    <% @count_book = 1 %>
  </div>
  <div class="text-center">
    <%= will_paginate category.books.published.order_by_time.paginate(page: params[:page], per_page: 8) %>
  </div>
</div>
